@mixin flex ($flex-directon, $flex-wrap, $justify-content, $align-items, $align-content ) {
    display: flex;
    flex-direction: $flex-directon;
    flex-wrap: $flex-wrap;
    justify-content: $justify-content;
    align-items: $align-items;
    align-content: $align-content;
}